<form class="form-container" [formGroup]="productoForm" (ngSubmit)="crearProducto()">
  <h1>Crear Producto</h1>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input id="nombre" formControlName="nombre">
  </div>
  <div class="form-group">
    <label for="precio">Precio</label>
    <input id="precio" formControlName="precio" type="number">
  </div>
  <div class="form-group">
    <label for="entradas">Entradas</label>
    <input id="entradas" formControlName="entradas" type="number">
  </div>
  <div class="form-group">
    <label for="categoria">Categoría</label>
    <select id="categoria" formControlName="categoria"> <!-- Asegúrate de usar 'categoriaId' -->
      <option value="" disabled selected>Selecciona una categoría</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
    </select>
  </div>
  <button type="submit">Crear Producto</button>
</form>
